/*
polls/static/polls/style.css
you can refer to this static file in Django as polls/style.css
 */
body {
    background-color: #C43EAF;
    }

.h1 {
    color: #2962ff;
}
.h3 {
    color: darkgray;
    }

li {
    list-style-type:square;
}
li a {
    color: black;
    text-decoration: none;
    }

#options{
    background-color: #e8eaf6;
    margin-left: 15px;
    height: 1024px%;
    }

#mainimg {
    margin-top: 50px;
    width: 90%;
    height: auto;
    }



